<html lang="zh-cmn-Hans"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>人设和本人，你崩了吗？</title>
  <meta name="project-path" content="media/power_to_go2018">
  <meta name="keywords" content="网易,新闻客户端">
  <meta name="description" content="">
  <meta name="author" content="网易">
  <meta name="copyright" content="网易版权所有">
  <meta name="viewport" content="width=750, user-scalable=no">
  <meta name="format-detection" content="telephone=no,email=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="full-screen" content="true">
  <meta name="x5-fullscreen" content="true">
  <meta name="360-fullscreen" content="true">
  <link rel="stylesheet" href="css/index.min.css?v=1543390952565">
  <script async="" src="//static.ws.126.net/163/frontend/antnest/NTM-QTZLKGIW-23.js"></script><script src="//hm.baidu.com/hm.js?7fa45cfaddbf8ba5591da1950285d665"></script><script>
  window.NTESAntProjectid = "NTM-QTZLKGIW-23";
  window.NTESProjectid = "power_to_go2018";
</script>
  <script src="js/index.min.js?v=1543390952565"></script>
</head>
<body>
<iframe src="https://c.m.163.com/nc/qa/uid.html" width="0" height="0" tabindex="-1" style="display:none;" class="ntesanalysis-sync-iframe"></iframe><div id="common-loading" style="display: none;">
  <div id="common-loading-center" data-progress="100">100%</div>
  <div id="loading_img"></div>
</div>
<div id="common-landscape" style="display: none;">
  <div id="common-landscape-center"></div>
</div>
<div id="common-pc">
  <div id="common-pc-center"></div>
</div>
<div id="common-share">
  <div style="display: none !important">
    <div id="__newsapp_sharetext">人人人人人设崩了？算了算了人间不值得 https://wp.m.163.com/163/f2e/media/power_to_go2018/index.html?origin=ewm&amp;spssid=ae74677ed0743a01c5be0fbc0253dd8b&amp;spsw=1&amp;spss=other</div>
    <div id="__newsapp_sharephotourl">https://static.ws.126.net/163/f2e/media/power_to_go2018/img/share.jpg</div>
    <div id="__newsapp_sharewxtitle">人人人人人设崩了？算了算了人间不值得</div>
    <div id="__newsapp_sharewxtext">本人和人设，哪一个才是最好的自己？</div>
    <div id="__newsapp_sharewxthumburl">https://static.ws.126.net/163/f2e/media/power_to_go2018/img/share.jpg</div>
    <div id="__newsapp_sharewxurl">https://wp.m.163.com/163/f2e/media/power_to_go2018/index.html?origin=ewm&amp;spssid=ae74677ed0743a01c5be0fbc0253dd8b&amp;spsw=1&amp;spss=other</div>
  </div>
</div>
<div class="common-container" style="height: 1334px;">
  <!--TODO-->
  <div class="audios">
    <audio src="img/bgm2.mp3" class="bgm" id="bgm" preload="true" autoplay="true" loop="true"></audio>
    <audio src="img/answer1.mp3" class="answerM" preload="true"></audio>
    <audio src="img/choose1.mp3" class="chooseM" preload="true"></audio>
    <audio src="img/cover1.mp3" class="coverM" preload="true"></audio>
  </div>
  <div class="video-wrap wrap">
    <div class="v1"><video class="video1" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/poster1.jpg" src="img/video1.mp4"></video></div>
    <div class="v2"><video class="video2" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/poster2.jpg" src="img/video2.mp4"></video></div>
    <div class="v3"><video class="video3" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/poster3.jpg" src="img/video3.mp4"></video></div>
    <div class="v4"><video class="video4" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/poster4.jpg" src="img/video4.mp4"></video></div>
  </div>
  <div class="weibo-videos wrap">
    <div class="vs1">
      <div class="vs1-1"><video class="video1-1" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/poster1.jpg" src="img/weibo/video1-1.mp4"></video></div>
      <div class="vs1-2"><video class="video1-2" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg1.png" src="img/weibo/video1-2.mp4"></video></div>
      <div class="vs1-3"><video class="video1-3" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg1.png" src="img/weibo/video1-3.mp4"></video></div>
      <div class="vs1-4"><video class="video1-4" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg1.png" src="img/weibo/video1-4.mp4"></video></div>
      <div class="vs1-5"><video class="video1-5" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg1.png" src="img/weibo/video1-5.mp4"></video></div>
    </div>
    <div class="vs2">
      <div class="vs2-1"><video class="video2-1" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/poster2.jpg" src="img/weibo/video2-1.mp4"></video></div>
      <div class="vs2-2"><video class="video2-2" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg2.png" src="img/weibo/video2-2.mp4"></video></div>
      <div class="vs2-3"><video class="video2-3" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg2.png" src="img/weibo/video2-3.mp4"></video></div>
      <div class="vs2-4"><video class="video2-4" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg2.png" src="img/weibo/video2-4.mp4"></video></div>
      <div class="vs2-5"><video class="video2-5" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg2.png" src="img/weibo/video2-5.mp4"></video></div>
    </div>
    <div class="vs3">
      <div class="vs3-1"><video class="video3-1" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/poster3.jpg" src="img/weibo/video3-1.mp4"></video></div>
      <div class="vs3-2"><video class="video3-2" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg3.png" src="img/weibo/video3-2.mp4"></video></div>
      <div class="vs3-3"><video class="video3-3" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg3.png" src="img/weibo/video3-3.mp4"></video></div>
      <div class="vs3-4"><video class="video3-4" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg3.png" src="img/weibo/video3-4.mp4"></video></div>
      <div class="vs3-5"><video class="video3-5" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg3.png" src="img/weibo/video3-5.mp4"></video></div>
    </div>
    <div class="vs4">
      <div class="vs4-1"><video class="video4-1" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/poster4.jpg" src="img/weibo/video4-1.mp4"></video></div>
      <div class="vs4-2"><video class="video4-2" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg4.png" src="img/weibo/video4-2.mp4"></video></div>
      <div class="vs4-3"><video class="video4-3" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg4.png" src="img/weibo/video4-3.mp4"></video></div>
      <div class="vs4-4"><video class="video4-4" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg4.png" src="img/weibo/video4-4.mp4"></video></div>
      <div class="vs4-5"><video class="video4-5" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" width="750" height="1448" preload="auto" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/weibo/bg4.png" src="img/weibo/video4-5.mp4"></video></div>
    </div>
  </div>
  <div class="loading wrap cur">
    <div class="loading1 hidden"></div>
    <div class="loading-percent">100%</div>
    <div class="logo"></div>
  </div>
  <div class="cover wrap cur loaded">
    <div class="bg-wrap">
      <div class="bg"></div>
      <div class="bg-mask"></div>
    </div>
    <div class="loading2"></div>
    <div class="peo"></div>
    <div class="ren"></div>
    <div class="text-wrap">
      <div class="t1"></div>
      <div class="t2"></div>
      <div class="t3"></div>
      <div class="t4"></div>
      <div class="t5"></div>
      <div class="t6"></div>
      <div class="t7"><div></div></div>
      <div class="t8"></div>
    </div>
    <div class="beng"></div>
    <div class="tit"></div>
    <div class="cover-btn"></div>
  </div>
  <div class="choose wrap">
    <div class="tit"></div>
    <div class="choose-wrap">
      <div class="p1 peo">
        <div class="no-choose">
          <div class="p-con"></div>
          <div class="icon i1"></div>
          <div class="icon i2"></div>
          <div class="icon i3"></div>
        </div>
        <div class="choosed"></div>
        <div class="p-mask"></div>
        <div class="p-tit"></div>
      </div>
      <div class="p2 peo">
        <div class="no-choose">
          <div class="p-con"></div>
          <div class="icon i1"></div>
          <div class="icon i2"></div>
          <div class="icon i3"></div>
          <div class="icon i4"></div>
        </div>
        <div class="choosed"></div>
        <div class="p-mask"></div>
        <div class="p-tit"></div>
      </div>
      <div class="p3 peo">
        <div class="no-choose">
          <div class="p-con"></div>
          <div class="guang3"></div>
        </div>
        <div class="choosed"></div>
        <div class="p-mask"></div>
        <div class="p-tit"></div>
      </div>
      <div class="p4 peo">
        <div class="no-choose">
          <div class="p-con"></div>
          <div class="icon i1"></div>
          <div class="icon i2"></div>
          <div class="icon i3"></div>
        </div>
        <div class="choosed"></div>
        <div class="p-mask"></div>
        <div class="p-tit"></div>
      </div>
    </div>
    <div class="choose-btn"></div>
  </div>
  <div class="answer wrap">
    <div class="answer1">
      <div class="q1 q-con">
        <div class="q-num"></div>
        <div class="q-text">一点点小事都要说是你的错，喵喵喵你该怎么办？</div>
        <div class="btn-wrap no btn1">
          <div class="kuang"></div>
          <div class="text">嘴上认个错，心里默默记小本子上</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap yes btn2">
          <div class="kuang"></div>
          <div class="text">有什么是发红包不能解决的？</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q2 q-con">
        <div class="q-num"></div>
        <div class="q-text">玩游戏忘记回消息，收到夺命十连Call，天啦噜你该怎么办？</div>
        <div class="btn-wrap yes btn1">
          <div class="kuang"></div>
          <div class="text">主动道歉认错，求生欲溢出屏幕</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap no btn2">
          <div class="kuang"></div>
          <div class="text">装作高冷没看见，在分手边缘试探</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q3 q-con">
        <div class="q-num"></div>
        <div class="q-text">脑阔疼，又要过节了，这次你送什么礼物呢？</div>
        <div class="btn-wrap yes btn1">
          <div class="kuang"></div>
          <div class="text">不方，连8012年的情人节礼物我都想好了</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap no btn2">
          <div class="kuang"></div>
          <div class="text">万能公式啊，送女朋友口红/送男朋友球鞋</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q4 q-con">
        <div class="q-num"></div>
        <div class="q-text">你俩困在了比偶像剧更大的雨里，只有一把伞的你该怎么办？</div>
        <div class="btn-wrap no btn1">
          <div class="kuang"></div>
          <div class="text">还能怎么办？等雨停咯</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap yes btn2">
          <div class="kuang"></div>
          <div class="text">上演偶像剧男女主同款相拥撑伞桥段</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q5 q-con">
        <div class="q-num"></div>
        <div class="q-text">不小心淋雨感冒发烧，怎么办在线等急？！</div>
        <div class="btn-wrap yes btn1">
          <div class="kuang"></div>
          <div class="text">坚强地带好小口罩，不要传染给宝宝</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap no btn2">
          <div class="kuang"></div>
          <div class="text">要宝宝喂药药，给抱抱，感冒才会好</div>
          <div class="quan icon"></div>
        </div>
      </div>
    </div>
    <div class="answer2">
      <div class="q1 q-con">
        <div class="q-num"></div>
        <div class="q-text">身体和灵魂还在路上，工作需求已经开始轰炸，你怎么破？</div>
        <div class="btn-wrap no btn1">
          <div class="kuang"></div>
          <div class="text">只要老板不@我，这事儿就不存在</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap yes btn2">
          <div class="kuang"></div>
          <div class="text">刚好规划一下今天To do list</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q2 q-con">
        <div class="q-num"></div>
        <div class="q-text">晨会午会例会周会各种会。懵，你该怎么办？</div>
        <div class="btn-wrap yes btn1">
          <div class="kuang"></div>
          <div class="text">我爱工作，工作使我快乐</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap no btn2">
          <div class="kuang"></div>
          <div class="text">我早就解锁各种偷睡姿势</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q3 q-con">
        <div class="q-num"></div>
        <div class="q-text">工作和生活扼住了你的喉咙，怎么破？</div>
        <div class="btn-wrap no btn1">
          <div class="kuang"></div>
          <div class="text">焦虑到离当场爆炸就差一点了</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap yes btn2">
          <div class="kuang"></div>
          <div class="text">淡定，早就安排上了</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q4 q-con">
        <div class="q-num"></div>
        <div class="q-text">又双叒叕是一个加班夜......脑阔疼，你该怎么做？</div>
        <div class="btn-wrap no btn1">
          <div class="kuang"></div>
          <div class="text">一定要发个朋友圈晒加班</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap yes btn2">
          <div class="kuang"></div>
          <div class="text">扶我起来，我还能接着做</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q5 q-con">
        <div class="q-num"></div>
        <div class="q-text">当老板回你一个微笑 后，一直“正在输入中”，这？怎么办？</div>
        <div class="btn-wrap yes btn1">
          <div class="kuang"></div>
          <div class="text">内心毫无波澜，老板怎么说我就怎么做</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap no btn2">
          <div class="kuang"></div>
          <div class="text">忐忑，脑海中闪过一万种被炒鱿鱼的场景</div>
          <div class="quan icon"></div>
        </div>
      </div>
    </div>
    <div class="answer3">
      <div class="q1 q-con">
        <div class="q-num"></div>
        <div class="q-text">工作时是高冷禁欲系，party时就你最浪吗？</div>
        <div class="btn-wrap yes btn1">
          <div class="kuang"></div>
          <div class="text">喷上斩男女老少香水，这就是我的态度主场</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap no btn2">
          <div class="kuang"></div>
          <div class="text">心累，被工作虐翻到浪不起来</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q2 q-con">
        <div class="q-num"></div>
        <div class="q-text">已有暧昧对象，转眼又遇到心动的ta想和你了解一下，你怎么办？</div>
        <div class="btn-wrap yes btn1">
          <div class="kuang"></div>
          <div class="text">来都来了，心都动了。加个微信吧！</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap no btn2">
          <div class="kuang"></div>
          <div class="text">啧啧啧，我才不当大猪蹄子。</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q3 q-con">
        <div class="q-num"></div>
        <div class="q-text">“痴情”是不可能的，你这辈子都不可能吗？</div>
        <div class="btn-wrap no btn1">
          <div class="kuang"></div>
          <div class="text">哪有，我很痴情的好吗！</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap yes btn2">
          <div class="kuang"></div>
          <div class="text">我只对自己痴情咯</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q4 q-con">
        <div class="q-num"></div>
        <div class="q-text">分手应该体面，谁都不要说抱歉？你觉得？</div>
        <div class="btn-wrap no btn1">
          <div class="kuang"></div>
          <div class="text">话是这么说，可我还是好想你</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap yes btn2">
          <div class="kuang"></div>
          <div class="text">不爱我就拉倒</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q5 q-con">
        <div class="q-num"></div>
        <div class="q-text">面对人生的起起落落落落落落落落......你会怎么做？</div>
        <div class="btn-wrap yes btn1">
          <div class="kuang"></div>
          <div class="text">佛系三连“可以、都行、没关系”</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap no btn2">
          <div class="kuang"></div>
          <div class="text">扶我起来，我还能Gang</div>
          <div class="quan icon"></div>
        </div>
      </div>
    </div>
    <div class="answer4">
      <div class="q1 q-con">
        <div class="q-num"></div>
        <div class="q-text">精心策划了网红店种草三连，面前却是999+桌等位，你该怎么做？</div>
        <div class="btn-wrap yes btn1">
          <div class="kuang"></div>
          <div class="text">等位时候，淡定的组个奶茶局</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap no btn2">
          <div class="kuang"></div>
          <div class="text">森气，这局没法组了！</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q2 q-con">
        <div class="q-num"></div>
        <div class="q-text">“一人食”很优雅，无奈单点太贵，双人餐又撑不下，你怎么破？</div>
        <div class="btn-wrap yes btn1">
          <div class="kuang"></div>
          <div class="text">为了网红款，我什么都愿意</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap no btn2">
          <div class="kuang"></div>
          <div class="text">丧，还是隔壁吃个麻辣烫吧</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q3 q-con">
        <div class="q-num"></div>
        <div class="q-text">对着网红美食拍照精修发票圈一套骚操作，朋友圈获赞无数，这时你会？</div>
        <div class="btn-wrap no btn1">
          <div class="kuang"></div>
          <div class="text">比吃到网红美食还要开心鸡冻</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap yes btn2">
          <div class="kuang"></div>
          <div class="text">已经开始幻想成为美食大V了</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q4 q-con">
        <div class="q-num"></div>
        <div class="q-text">啊呸！网红的味道和颜值成反比，难吃到哭泣，你怎么破？</div>
        <div class="btn-wrap no btn1">
          <div class="kuang"></div>
          <div class="text">自己点的菜，吃趴了也得吃完</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap yes btn2">
          <div class="kuang"></div>
          <div class="text">写篇《网红拔草雷区》，公开diss它</div>
          <div class="quan icon"></div>
        </div>
      </div>
      <div class="q5 q-con">
        <div class="q-num"></div>
        <div class="q-text">你在追着美食，肥肉在追着你，你该怎么办？</div>
        <div class="btn-wrap yes btn1">
          <div class="kuang"></div>
          <div class="text">网红沙拉店我来了</div>
          <div class="quan icon"></div>
        </div>
        <div class="btn-wrap no btn2">
          <div class="kuang"></div>
          <div class="text">立个减肥Flag，跪求不被打脸</div>
          <div class="quan icon"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="input wrap cur input1"> -->
  <div class="input wrap">
    <div class="text">输入昵称，解锁你的人设</div>
    <div class="input-wrap">
      <input type="text" value="" maxlength="7">
      <div class="input-btn"></div>
      <div class="input-line"></div>
    </div>
    <div class="peo"></div>
  </div>
  <div class="canvas">
    <canvas id="myCanvas" width="750" height="1206"></canvas>
  </div>
  <div class="wait wrap">
    <div class="jisuan"></div>
  </div>
  <div class="result wrap">
    <!-- <div class="result wrap cur peo4 result1"> -->
    <div class="bg"></div>
    <div class="scale-wrap">
      <div class="name"></div>
      <div class="text">の人设是：</div>
      <div class="pic"></div>
      <div class="yinzhang"></div>
      <div class="subtit"></div>
      <div class="tit"></div>
      <div class="text4"></div>
    </div>
    <div class="tips"></div>
    <div class="logo"></div>
    <div class="ewm"></div>
    <div class="result-img">
      <img src="img/img.png" alt="">
      <!-- <img src="img/img.png" alt=""> -->
    </div>
    <div class="end-btn">
      <div class="v-btn">
        <div class="t">内有彩蛋</div>
      </div>
      <div class="s-btn" onclick="NewsAppShare.show();">
        <div class="t">分享好友</div>
      </div>
    </div>
  </div>
  <div class="heart-page wrap">
    <div class="heart-text"></div>
    <div class="heart-ewm"><img src="img/heart-ewm.png" alt=""></div>
    <div class="heart-video">
      <video webkit-playsinline="" playsinline="" preload="none" x5-video-player-type="h5" x5-video-player-fullscreen="false" src="img/heart.mp4" poster="//static.ws.126.net/163/f2e/media/power_to_go2018/img/heart-poster.jpg"></video>
      <div class="play-btn"></div>
    </div>
    <a href="//m.163.com/newsapp/applinks.html?spss=activity_power_to_go2018"><div class="heart-btn"></div></a>
    <div class="heart-close"></div>
  </div>
</div>
<script src="//analytics.163.com/ntes.js"></script><script>_ntes_nacc = "mapp";neteaseTracker();</script><script src="//static.ws.126.net/utf8/3g/util/analysis.min.js"></script><script>_ntes_sps_modelid="mediapower_to_go2018";neteaseAnalysis({type:"special",spst:5,modelid:_ntes_sps_modelid});</script><script>var _hmt=_hmt||[];(function(){var b=document.createElement("script");b.src="//hm.baidu.com/hm.js?7fa45cfaddbf8ba5591da1950285d665";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)})();</script>
<script type="text/javascript" src="//static.ws.126.net/163/frontend/libs/antanalysis.min.js"></script>
<script type="text/javascript">
  (function(w, d, s, n) {

    var f = d.getElementsByTagName(s)[0],k = d.createElement(s); k.async = true;

    k.src = '//static.ws.126.net/163/frontend/antnest/'+n+'.js';

    f.parentNode.insertBefore(k, f);

  })(window, document, 'script',window.NTESAntProjectid);
</script>

<script>
  (function() {
    var performance = window.performance || window.msPerformance || window.webkitPerformance;
    if (!performance) {
      return;
    }
    var send = function() {
      var t = performance.timing;
      var pobj = {};
      var times = {};
      var loadTime = t.loadEventEnd - t.connectStart;
      times['version'] = '1.1.0';
      times['redirect'] = t.redirectEnd - t.redirectStart;
      times['appcache'] = t.domainLookupStart - t.fetchStart;
      times['DNS'] = t.domainLookupEnd - t.domainLookupStart;
      times['TCP'] = t.connectEnd - t.connectStart;
      times['HTTPSconnect'] = t.secureConnectionStart != 0 ? (t.connectEnd - t.secureConnectionStart) : 0;
      times['request'] = t.responseStart - t.requestStart;
      times['unload'] = t.unloadEventEnd - t.unloadEventEnd;
      times['response'] = t.responseEnd - t.responseStart;
      times['processing'] = t.domComplete - t.domLoading;
      times['DOMrender'] = t.domInteractive - t.domLoading;
      times['beforeContentLoad'] = t.domContentLoadedEventStart - t.domLoading;
      times['DOMContentLoaded'] = t.domContentLoadedEventEnd - t.domContentLoadedEventStart;
      times['onloadEvent'] = t.loadEventEnd - t.loadEventStart;
      times['TTFB'] = t.responseStart - t.navigationStart;
      times['interactive'] = t.domInteractive - t.navigationStart;
      times['DOMcontentFinish'] = t.domContentLoadedEventEnd - t.navigationStart;
      times['pageLoad'] = t.loadEventEnd - t.navigationStart;
      performance.getEntriesByType("paint").forEach(
        function(e) {
          pobj[e.name] = e.startTime
        }
      )
      times.firstpaint = pobj['first-paint'];
      times.firstcontentpaint = pobj['first-contentful-paint']

      if (loadTime <= 0) {
        setTimeout(function() {
          send()
        }, 200);
        return;
      }else if(t.connectStart <= 0 || t.responseEnd <= 0 || (t.responseStart - t.navigationStart) <= 0 || (t.domainLookupStart - t.fetchStart) < 0 || (t.domainLookupStart - t.fetchStart) > 1000000){
        console.log('有效值异常')
        return
      };
      NTESAntAnalysis.sendData({
        host: "vmonitor.ws.netease.com/web/performance?param=",
        projectid: "NTM-QTZLKGIW-23",
        val_nm: "performance",
        val_act: "performance",
        info: {
          timing: times
        }
      })
    };
    send();
  })()
</script></body></html>
